html, body {
    height: 100%;
}

body {
    background: linear-gradient(to bottom right, #c22ed0, #5ffae0);
}

header {
	margin: 0 auto;
	text-align: center;
}

#btnLogin {
    background-color: white;
    color: #c22ed0;
    border-color: #c22ed0;
    width: 30%; /* Set the button width to 30% */
    display: block; /* Center the button horizontally */
    margin: 0 auto; /* Center the button horizontally */
    border-radius: 15px;
}

#btnLogin:hover{
    background-color: #c22ed0;
    border-color: #5ffae0;
    color: white;
  }

  @media (max-width: 600px) {
    #btnLogin {
      width: 100%;
      margin: 0;
    }
  }

.neumorphic-form {
    background-color: linear-gradient(to bottom right, #c22ed0, #5ffae0);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #c22ed0, -5px -5px 10px #5ffae0;
  }
  

  .neumorphic-form label
 {
    color: #1e0455;
    font-weight: bold;
  }

  .neumorphic-form input[type="text"],
  .neumorphic-form input[type="email"],
  .neumorphic-form input[type="password"]{
    color: black;
    border-radius: 15px;
  }
  