html, body {
    height: 100%;
}

body {
    background: linear-gradient(to right, #0d5656, #634673, #3f3b3b);
}

header {
	margin: 0 auto;
	text-align: center;
}

#tableh4 {
	margin: 0 auto;
	text-align: center;
} 

#btnReportDown {
    background-color: black;
    color: gold;
    border-color: gold;
    padding: 5px;
    border-radius: 10px;
}